/* QToolBar ------------------------------------------------------------------ */

QToolBar {
    border-bottom: 1px solid #4D545B;
}

QListView#list_apps {
    font-size: 16px;
}

QLabel#lbl_branch_status {
    font-size: 16px;
    font: bold;
}
/* -------------------------------------------------------------------------- */