/* QToolBar ------------------------------------------------------------------ */

QToolBar {
    border-bottom: 1px solid #4D545B;
}

/* -------------------------------------------------------------------------- */